body {
    background-color: #f9f1f1;
    font-family: Monospace;
    color: #595959;
    font-size: 9.75pt;
}

h1 {
    color: #333333;
}

h2 {
    color: #333333;
    margin-top: 0pt;
    margin-bottom: 0pt;
    display: inline;
}

div.content {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    border: 0px;
    border-spacing: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.inner_box {
    padding: 2.5%;
    vertical-align: middle;
}

div.list_box {
    margin: 0 15px;
}

a.paper:link {
    color: #cc0000;
    text-decoration: none;
}

a.paper:visited {
    color: #cc0000;
    text-decoration: none;
}

a.paper:hover {
    text-decoration: underline;
}

a:link {
    color: #cc0000;
    text-decoration: none;
}

a:visited {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* a:target="_blank" */

ul.paper {
    margin: 0;
    padding: 10px 10px 0px 10px;
}

li {
    margin: 0 0 10px 0;
}

.rectangle { 
    width: 225px; 
    height: 225px; 
    background-color: #a1cbdd; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;    
    margin: 0 0 0 15px;
} 

.rectangle img {
    height: 175px;
    width: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    top: -5px;
    left: 105%;
    width: 225px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
